{
    "rules": {
        "no-undef": "off"
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "jsx": true
        }
    },
}